@model  List<BookClubMVC.Models.BookClub>

@{
    ViewBag.Title = "New";
}

<h2>Register a New Book CLub</h2>
    <a class="btn" href="/BookClub/List">Back to List</a>
<!-- Form to add new book to database -->
    <div class="formcontain">
        <form method="POST" action="/BookClub/New">
            <div class="forminput">
                <label for="ClubName">Club Name:</label>
                <input type="text" id="ClubName" name="ClubName" />
            </div>
            <div class="forminput">
                <label for="MeetDay">Day of Meetings:</label>
                <select id="MeetDay" name="MeetDay">
                    <option value="Monday">Monday</option>
                    <option value="Tuesday">Tuesday</option>
                    <option value="Wednesday">Wednesday</option>
                    <option value="Thursday">Thursday</option>
                    <option value="Friday">Friday</option>
                    <option value="Saturday">Saturday</option>
                    <option value="Sunday">Sunday</option>
                </select>
            </div>
            <div class="forminput">
                <label for="MeetTime">Time of Meeting:</label>
                <input type="text" id="MeetTime" name="MeetTime" />
            </div>
            <div class="submit">
                <input class="btn" type="submit" value="Register Club">
            </div>
        </form>
    </div>

