@model BookClubMVC.Models.ViewModels.UpdateMember
@{
    ViewBag.Title = "Update";
}

<h2>Update Information</h2>
    <a class="btn" href="/BookClub/List">Back to List</a>
<!-- Form to add new member to database -->
    <div class="formcontain">
        <form method="POST" action="/Member/Update/@Model.Member.MemberID">
            <div class="forminput">
                <!-- TO DO: Column name for FirstName has a typo in it -- NEED TO RUN UPDATE AND RUN MIGRATION AGAIN -->
                <label for="FisrtName">First Name:</label>
                <input type="text" id="FisrtName" name="FisrtName" value="@Model.Member.FisrtName" />
            </div>
            <div class="forminput">
                <label for="LastName">Last Name:</label>
                <input type="text" id="LastName" name="LastName" value="@Model.Member.LastName" />
            </div>
            <div class="forminput">
                <label for="ClubID">Please Select a Book Club to Join:</label>
                <select id="ClubID" type="text" name="ClubID">
                    @{
                        // a rendering loop to list all of the available book clubs a member can join
                        foreach (var clubs in Model.bookclubs)
                        {
                            //use an if statement to carry over what has been selected for the member
                            var selected = "";
                            if (Model.Member.ClubID == clubs.ClubID)
                            {
                                selected = "selected";
                            }//add the selected variable into our option line of code
                            <option value="@clubs.ClubID" @selected>@clubs.ClubName</option>

                        }
                    }
                </select>
            </div>
            <div class="submit">
                <input class="btn" type="submit" value="Update Information">
            </div>
        </form>
    </div>

